[Desktop Entry]
Name=Obsidian
Comment=Obsidian (AppImage)
Exec={{ ansible_facts.env.HOME }}/Applications/Obsidian.AppImage %u
Type=Application
Terminal=false
Categories=Office;
MimeType=x-scheme-handler/obsidian;
